body {
    background: linear-gradient(to right, #ff7e7e, #ffb3b3);
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Cupid', cursive;
}

button {
    background-color: #ff5c5c;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
